
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.text1{
    font-family: 'DM Sans', sans-serif;
    color: #455A64;
    text-align: center;
}

.text2{
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: #455A64;
    font-size: 20px;
}
